## This documents tells git what files & folders to ignore

# User - specific files 
.Rprofile
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# data used in this project/analysis - store these elsewhere - NOT on github
# Ignore everything in the "data" directory
/data/*
# except hidden .gitkeep file - this keeps folder (not contents) visable
!/data/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep

# analysis output folder
/products/*
!/products/.gitkeep

# Quarto rendered html
##Quarto_trial.html
# rendered analysis html - can change later if needed
#*.html

# Quarto cache documents folder
Quarto_trial_files/

# Mac specific settings
.DS_Store

# Ignore renv (environment versions & dependencies) cache and library
# can run and recreate from renv.lock, renv/settings.json, renv/active.R
renv/library/
renv/cache/

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/


# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron